@page "/"
@using Webstore.Models
@inject HttpClient Http;

<PageTitle>Home</PageTitle>

@if (wares == null)
{
    <p>loading..</p>
}

<ItemCard wares="wares"></ItemCard>


@code {
    private List<Ware> wares = new();

    protected override async Task OnInitializedAsync()
    {
        try
        {
            wares = await Http.GetFromJsonAsync<List<Ware>>("api/Wares");
        }
        catch (Exception ex)
        {
            await Console.Out.WriteLineAsync("Can't fetch wares from API" + ex);
        }
    }

}
